<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Cadastro de estoques</h2>
        </div>
        <div class="card-body">

            <form action="/estoque/cadastrar" method="post">
                <label for="nome">Nome</label>
                <input class="form-control" type="text" name="nome">
                <label for="nome">Descrição</label>
                <input class="form-control" type="text" name="descricao">
                <label for="nome">Codigo</label>
                <input class="form-control" type="text" name="codigo">
                <button class="btn btn-success mt-2">Cadastrar</button>
            </form>

            <hr>
            <div style="overflow-y: scroll; max-height: 500px;" >
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Codigo</td>
                        <td>Nome</td>
                        <td>descrição</td>
                        <td>Ações</td>
                    </tr>
                </thead>
                <tbody>
                 <% estoques.forEach(estoque=>{ %> 

                  <tr>
                     <td><%= estoque.codigo %></td>
                     <td><%= estoque.nome %></td>
                     <td><%= estoque.descricao %> </td>
                     <td>
                       <a class="btn btn-warning" href="/estoque/editar/<%= estoque.id %>">Editar</a>
                       <form style="display: inline;" action="/estoque/apagar" method="post">
                         <input type="hidden" name="id" value="<%= estoque.id %>"></input>

                         <button type="submit" class="btn btn-danger">Apagar</button>

                       </form>
                     </td>
                  </tr>       


                 <% }) %> 
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>



  </div>



  
 
<%- include('../partials/footer.ejs') -%>