<script>
  const dateFns = require("date-fns");
</script>

<%- include('../../partials/header.ejs') -%>
<%- include('../../partials/navbar.ejs') -%>




<div class="container ml-0">

   <div style="flex-direction: column;" >

    <div style="width: 13%;  top: 8%; position:absolute;">

        <ul class="list-group">
          <div>  
         <form action="/relatorio_produto_dt" method="post">  

            <li class="list-group-item">
            <h6 >Busca por data</h6><hr>
            <label class="badge badge-primary" for="data_inicial">Data inicial</label>
            <input class="form-control" type="date" name="data_inicial" value="data_inicial" required >
            <label class="badge badge-primary mt-1" for="data_inicial">Data final</label>
            <input class="form-control" type="date" name="data_final" value="data_final" required ><br>
            <input type="submit" value="pesquisar" class="btn btn-primary">

          </form>

        </div>




          
          </li>

            
            <li class="list-group-item">

              <!--CRESCENTE POR VALOR-->
              <a href="/relatorio_produto/cre_valor">Crescente por valor</a>
            
            </li>

            <li class="list-group-item">
               <!--DECRESCENTE POR VALOR-->
               <a href="/relatorio_produto/decre_valor">Decrescente por valor</a>
             
            </li>

            <li class="list-group-item">

              <!--CRESCENTE POR DATA-->
              <a href="/relatorio_produto/cre_data">Crescente por data</a>

              

            </li>

            <li class="list-group-item">

              <!--DECRESCENTE POR DATA-->
              <a href="/relatorio_produto/decre_data">Decrescente por data</a>

              

            </li>
           
          </ul>
    
       </div>

       <div style="width: 80%;  position:absolute; top: 8%; left: 14%;">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Codigo</th>
                <th scope="col">Descricão</th>
                <th scope="col">Estoque</th>
                <th scope="col">Preço</th>
                <th scope="col">Data cadastro</th>

              </tr>
            </thead>
            <tbody>
                
             <%  produtos.forEach(produto=>{ %>
                 <tr>
                    <td><%= produto.nome      %></td>
                    <td><%= produto.codigo     %></td>
                    <td><%= produto.descricao  %></td>
                    <td><%= produto.estoque.nome   %></td>
                    <td><%= produto.preco      %></td>
                    <td><%= produto.formattedDate %></td>

                 </tr>
             <% }) %>
            
          </table>
    
        
    
       </div>

   </div> 

  





</div>
 
      
   

  
  



  
 
<%- include('../../partials/footer.ejs') -%></input>